.App {
    text-align: center;
    margin: 30px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.8vmin;
    height: 6.8vmin;
    border: 0.8px solid black;
    font-size: 2rem;
    text-align: center;
}

.row:first-child .cell {
    border-top-width: 4.5px;
}

.row:nth-child(3n) .cell {
    border-bottom-width: 4.5px;
}

.cell:first-child {
    border-left-width: 4.5px;
}

.cell:nth-child(3n) {
    border-right-width: 4.5px;
}

.button {
    margin: 30px 10px;
    height: 35px;
    width: 75px;
    font-size: 15px;
}

@media screen and (max-width: 480px) {
    .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4.7vmin;
        height: 4.7vmin;
        border: 0.5px solid black;
        font-size: 1.3rem;
        text-align: center;
    }

    .row:first-child .cell {
        border-top-width: 3px;
    }

    .row:nth-child(3n) .cell {
        border-bottom-width: 3px;
    }

    .cell:first-child {
        border-left-width: 3px;
    }

    .cell:nth-child(3n) {
        border-right-width: 3px;
    }
}